@import '~styles/mixins';
@import '~styles/components/buttons';
@import '~foundation-sites/scss/foundation';

.Users-list {
  padding-top: 10px;

  &__row {
    @include row();
    position: relative;
    border-bottom: 1px solid #eee;
    flex-wrap: nowrap;

    &:last-child {
      border-bottom: none;
    }
  }

  &__right {
    float: right;
  }

  &__top-controls {
    margin-bottom: 5px;
  }

  &__btn {
    @include btn();
    margin: 0;

    &.-page {
      margin: 0 10px;
      @include btn-gray;
    }

    &.-md {
      @include show-for('medium');
    }

    &.-sm {
      @include hide-for('medium');
      min-width: 65px;
      padding: 0.72em 1em;
    }
  }

  &__avatar {
    $avatar-size: 80px;
    padding-top: 7px;
    text-align: center;
    height: $avatar-size + 15px;
    width: $avatar-size;
    min-width: $avatar-size;
    overflow: hidden;

    div {
      width: $avatar-size;
      height: $avatar-size;
      border-radius: 5px;
      background-size: cover;
      background-position: 50% 50%;
    }
  }

  &__name {
    padding-left: 10px;
    top: 35px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 70px;
    height: 30px;
  }

  &__right-array {
    position: absolute;
    right: 0;
    border-left: 1px solid #eee;
    padding-left: 20px;
    padding-top: 27px;
    padding-right: 20px;
    height: 100%;
    font-weight: 700;
    font-size: 1.5em;

    &:hover {
      background: #f9f9f9;
    }
  }

  &__controls {
    margin: 15px 0;
    text-align: center;
  }
}